<h5>Perfil de usuario</h5>

<p-avatar image="https://avatars.githubusercontent.com/u/21172240?v=4" size="xlarge" shape="circle"></p-avatar>

<span class="p-inputgroup">
    <span class="p-inputgroup-addon">
        Subir foto &nbsp;<p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*"></p-fileUpload>
    </span>
</span>

<div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    <input type="text" pInputText placeholder="Usuario">
</div>

<div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    <input type="password" pInputText placeholder="Contraseña">
</div>

<div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
    <input type="password" pInputText placeholder="Repetir contraseña">
</div>

<div class="p-inputgroup">
    <span class="p-inputgroup-addon">€</span>
    <input type="text" pInputText placeholder="Sueldo">
    <span class="p-inputgroup-addon">.00</span>
</div>

<div class="p-inputgroup">
    <span class="p-inputgroup-addon">www</span>
    <input type="text" pInputText placeholder="Página web">
</div>

<div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-twitter"></i></span>
    <input type="text" pInputText placeholder="Twiteer">
</div>

<div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-facebook"></i></span>
    <input type="text" pInputText placeholder="Facebook">
</div>