<div class="card">
  <h2>Perfil de usuario</h2>

  <br>

  <div class="formgrid grid">

    <div class="field col-3">

      <div class="grid">
        <div class="col-12 text-center">
          <p-avatar image="https://avatars.githubusercontent.com/u/21172240?v=4" size="xlarge" shape="circle">
          </p-avatar>
        </div>
        <div class="col-12 text-center">
          <span class="p-inputgroup  justify-content-center">
            <span class="p-inputgroup-addon">
              Subir foto &nbsp;<p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="image/*">
              </p-fileUpload>
            </span>
          </span>
        </div>
      </div>

    </div>

    <div class="field col-9">


      <div class="grid">
        <div class="col-12 text-center">

          <div class="grid">
            <div class="field col-3">
              <div class="p-inputgroup  justify-content-left">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="text" pInputText placeholder="Usuario">
              </div>
            </div>
            <div class="field col-3">
              <div class="p-inputgroup  justify-content-left">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="password" pInputText placeholder="Contraseña">
              </div>
            </div>
            <div class="field col-3">
              <div class="p-inputgroup  justify-content-left">
                <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                <input type="password" pInputText placeholder="Repetir contraseña">
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 text-center">
          <div class="grid">
            <div class="field col-3">
              <div class="p-inputgroup  justify-content-left">
                <span class="p-inputgroup-addon">€</span>
                <input type="text" pInputText placeholder="Sueldo">
                <span class="p-inputgroup-addon">.00</span>
              </div>
            </div>
            <div class="field col-3">
              <div class="p-inputgroup  justify-content-left">
                <span class="p-inputgroup-addon">www</span>
                <input type="text" pInputText placeholder="Página web">
              </div>
            </div>
            <div class="field col-3">
              <div class="p-inputgroup  justify-content-left">
                <span class="p-inputgroup-addon"><i class="pi pi-twitter"></i></span>
                <input type="text" pInputText placeholder="Twiteer">
              </div>
            </div>
            
          </div>
        </div>

        <div class="col-12 text-center">
          <div class="grid">
            <div class="field col-3">
              <div class="p-inputgroup  justify-content-left">
                <span class="p-inputgroup-addon"><i class="pi pi-facebook"></i></span>
                <input type="text" pInputText placeholder="Facebook">
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>